<main class="mainContent">

  <!-- 記事一覧（パネル）セクション -->
  <section class="panels">
    <h2 class="contentTitle">記事一覧</h2>
    <div class="panelsContent">
      <article class="panelsContentItem new">
        <a href="" class="panelsContentItemLink">
          <p class="panelsContentItem-image">
            <img src="assets/img/officework.png" alt="リミッテッドオフィスワーク中止">
          </p>
          <span class="articleItemLabel">お知らせ</span>
          <p class="panelsContentItem__text">リミテッドチーム、オフィスワーク開始(と思いきや、一旦中止)</p>
          <span class="panelsContentItem__date">2021.3.15</span>
        </a>
      </article>
      <article class="panelsContentItem">
        <a href="" class="panelsContentItemLink">
          <p class="panelsContentItem-image">
            <img src="assets/img/officekaisou.png" alt="本社オフィス改装工事完了">
          </p>
          <span class="articleItemLabel">お知らせ</span>
          <p class="panelsContentItem__text">本社オフィス改装工事完了!カフェ風のテーブル席や半個室席を導入！</p>
          <span class="panelsContentItem__date">2021.3.15</span>
        </a>
      </article>
      <article class="panelsContentItem">
        <a href="" class="panelsContentItemLink">
          <p class="panelsContentItem-image">
            <img src="assets/img/icon-pic.png" alt="本社完全リモート体制開始">
          </p>
          <span class="articleItemLabel">お知らせ</span>
          <p class="panelsContentItem__text">本社完全リモート体制開始</p>
          <span class="panelsContentItem__date">2021.3.15</span>
        </a>
      </article>
      <article class="panelsContentItem">
        <a href="" class="panelsContentItemLink">
          <p class="panelsContentItem-image">
            <img src="assets/img/valentine.png" alt="社長からのバレンタインチョコの差し入れ">
          </p>
          <span class="articleItemLabel">特集</span>
          <p class="panelsContentItem__text">社長からのバレンタインチョコの差し入れ！種類豊富でどれにするか悩みました</p>
          <span class="panelsContentItem__date">2021.3.15</span>
        </a>
      </article>
      <article class="panelsContentItem">
        <a href="" class="panelsContentItemLink">
          <p class="panelsContentItem-image">
            <img src="assets/img/t-syatsudesign.png" alt="Tシャツデザインコンテスト開催">
          </p>
          <span class="articleItemLabel">特集</span>
          <p class="panelsContentItem__text">クリエイティブチームの第一回「Tシャツデザインコンテスト」開催しました</p>
          <span class="panelsContentItem__date">2021.3.15</span>
        </a>
      </article>
      <article class="panelsContentItem">
        <a href="" class="panelsContentItemLink">
          <p class="panelsContentItem-image">
            <img src="assets/img/blendcoffee .png" alt="ブレンドコーヒー">
          </p>
          <span class="articleItemLabel">お知らせ</span>
          <p class="panelsContentItem__text">鈴木さん・奥本さん・成田さんが苦労した、ナレルさんの例のブレンドコーヒー</p>
          <span class="panelsContentItem__date">2021.3.15</span>
        </a>
      </article>
      <article class="panelsContentItem">
        <a href="" class="panelsContentItemLink">
          <p class="panelsContentItem-image">
            <img src="assets/img/ohanami.png" alt="お花見会">
          </p>
          <span class="articleItemLabel">特集</span>
          <p class="panelsContentItem__text">会社前の公園でお花見会</p>
          <span class="panelsContentItem__date">2021.3.15</span>
        </a>
      </article>
      <article class="panelsContentItem">
        <a href="" class="panelsContentItemLink">
          <p class="panelsContentItem-image">
            <img src="assets/img/okinawa.png" alt="沖縄旅行">
          </p>
          <span class="articleItemLabel">特集</span>
          <p class="panelsContentItem__text">社員旅行の沖縄♪とても豪華でまた行きたい、ブセナテラスリゾートホテル</p>
          <span class="panelsContentItem__date">2021.3.15</span>
        </a>
      </article>
    </div>
  </section>

</main>