<main class="mainContent">

  <!-- 記事詳細セクション -->
  <section class="articleDetails">
    <div class="a-detailsHeader">
      <h2 class="a-detailsTitle">6月分の社内報アンケート</h2>
      <div class="a-detailsHeaderWrap">
        <span class="articleItemLabel">アンケート</span>
        <span class="a-detailsHeaderWrap__date">2021/05/01</span>
      </div>
    </div>
    <div class="a-detailsBody">
      <div class="a-detailsBodyImg mb50"><img src="assets/img/challenge-main001.png" alt="チャレンジ"></div>
      <p class="a-detailsBodyTxt mb50">６月分の社内報アンケートにご協力お願いいたします！</p>
      <div class="googleFormUrl">GoogleフォームへのURL</div>
    </div>
  </section>

</main>