<footer>
  <div class="footerWrap">
    <div class="inner">

      <div class="footerContents">
        <p class="footerLogo">
          <img src="assets/img/logo-image-white.svg" alt="ワンプルーズ" class="footerLogo__image">
        </p>
        <nav class="footerNav">
          <ul class="footerNavList">
            <li class="footerNavItem">
              <p class="footerNavItemTtl"><a href="#">特集</a></p>
              <ul class="footerNavCol">
                <li class="footerNavColItem">
                  <a href="#">インタビュー</a>
                </li>
              </ul>
            </li>
            <li class="footerNavItem">
              <p class="footerNavItemTtl"><a href="#">社員紹介</a></p>
              <ul class="footerNavCol">
                <li class="footerNavColItem">
                  <a href="#">東京本社</a>
                </li>
                <li class="footerNavColItem">
                  <a href="#">福岡支社</a>
                </li>
                <li class="footerNavColItem">
                  <a href="#">Limited</a>
                </li>
                <li class="footerNavColItem">
                  <a href="#">サポート</a>
                </li>
              </ul>
            </li>
            <li class="footerNavItem">
              <p class="footerNavItemTtl"><a href="#">アンケート</a></p>
            </li>
            <li class="footerNavItem">
              <p class="footerNavItemTtl"><a href="#">イベント</a></p>
            </li>
            <li class="footerNavItem">
              <p class="footerNavItemTtl"><a href="#">お問い合わせ</a></p>
              <ul class="footerNavCol">
                <li class="footerNavColItem">
                  <a href="#">ヘルプ</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footerCopyright">copyright © oneproof All Rights Reserved.</div>
    </div>
  </div>
</footer>