<footer>
  <div class="footerContents">
    <p class="footerTitle">中小企業の発展と夢を広げる！</p>
    <p class="footerLogo">
      <img src="assets/img/logo-image.png" alt="ワンプルーズ" class="footerLogo__image">
    </p>
    <span class="footerCopyright">株式会社ワンプルーフ</span>
  </div>
</footer>