<header>
  <div class="inner">
    <div class="headerContents">
      <!-- ヘッダーロゴ -->
      <p class="headerLogo">
        <img src="assets/img/logo-image.png" alt="ワンプルーズ" class="headerLogo__image">
      </p>
      <!-- ヘッダーナビ -->
      <nav class="gnav">
        <ul class="gnavList">
          <li class="gnavList-item">
            <a href="" class="gnavList-item__link gnavList-item__link--active">TOP</a>
          </li>
          <li class="gnavList-item">
            <a href="" class="gnavList-item__link">特集</a>
          </li>
          <li class="gnavList-item">
            <a href="" class="gnavList-item__link">社員紹介</a>
          </li>
          <li class="gnavList-item">
            <a href="" class="gnavList-item__link">お問い合わせ</a>
          </li>
        </ul>
      </nav>
      <div class="headerRightContents">
        <a href="" class="opinionText"><span class="opinionTextIcon"><img src="assets/img/opinionText__icon.png" alt="" class="opinionTextIcon__image"></span>ご意見・ご要望はこちらまで</a>
        <ul class="headerRightBtnArea">
          <!-- 登録ボタン -->
          <li class="headerRightBtn">
            <a href="" class="headerRightBtn__link headerRightBtn__link--blue">登録申請</a>
          </li>
          <!-- ログインボタン -->
          <li class="headerRightBtn">
            <a href="" class="headerRightBtn__link headerRightBtn__link--white">ログイン</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>