<main class="mainContent">

  <!-- メンバー一覧セクション -->
  <section class="memberList">
    <div class="a-detailsHeader">
      <h2 class="a-detailsTitle">業務改善と組織力アップで<br>
        チャレンジ溢れる面白い会社に</h2>
      <div class="a-detailsHeaderWrap">
        <span class="articleItemLabel">インタビュー</span>
        <span class="a-detailsHeaderWrap__date">2020/01/01</span>
      </div>
    </div>
    <div class="a-detailsBody">
      <div class="a-detailsBodyImg mb50"><img src="assets/img/challenge-main001.png" alt="チャレンジ"></div>
      <p class="a-detailsBodyTxt">みなさん明けましておめでとうございます!オリンピックイヤー2020が始まりました。<br>
        今年6月からはワンプルーフ13期目に入ります。今年はワンプルーフを「チャレンジ溢れる面白い会社」にしたいと考えています。<br><br>
        まず、優先度高く進めているのが本社業務改善です。<br>
        近年、ワンプルーフは、クリンスイさん、ディノスさん、ソニーさん、杉 田さんを筆頭に、弊社の規模を遥かに超えて数万人の生活を支える大きな企業のEC部門を任せて頂ける会社になりました。これはひとえに現場の品質が向上しているから続いている案件で、ディレクターは毎日クライアントの売上利益に向き合い、数字や状況等鑑みた上で実現させるべくコンサルティング・運営業務を行い、クリエイティブは毎日クライアント売上利益を具現化すべく最新情報やテクノロジー、ツールを使い工夫を以って取り組み、オペレーターは毎日クライアントの顧客であるエンドユーザーに向き合い、電話メールの接点を大事に効果的な伝え方をアップデートしてくれてます。<br><br>
        こうやってみんな毎日プロ意識を持って取り組んでくれてる日々の行動が実績、信用になって今ワンプルーフはECソリューション企業でショッピングモール運営支援領域では有名な会社になってきており、社外秘でお願いしますですが、某大手ショッピングモールから出資話が来る程(断ってます)、ステキな会社になりました。<br><br>
        ですが、まだまだ改善すべきことはたくさんあります。下期、特に私も参加して改善を進めていくべく考えている改善対策ですが、まずディレクター領域にて、クライアント毎に条件が違う点が大きな理由で業務や分析解析、提案が多岐に渡ってしまう問題点をどうにか平準化しなければならない、ディレクター個々の知識知見や分析解析能力に依存する部分を減らして、工数を減らせるようにしたいと考えています。事業部長を始め、AI会社社長に相談を始めており、将来的には社内AIシステムにクライアントの売上回遊離脱CV等、数字情報を自動で連携させ、条件をセッティングしたら現在の改善点をAIシステムがディレクターに提案してくれるような仕組みを作りたいと考えています。下期中に簡易版をディレクターで共有できるようにすることを目標に考えています。<br><br>
        クリエイティブ領域では、今までエンジニアリソースが少なく、受けられる案件や業務に制限が掛かっていましたが、4月に来日を予定しているバングラディッシュ人エンジニア2名への教育を始め、現地法人でオフショア開発できる体制を作り、リソースを拡充していくべく考えています。<br><br>
        上記が本社業務改善で考えている大枠です。ってチャレンジングな話ではなく、基礎固め・組織力アップ的な話になってしまいましたが、真面目に実直にやる事はやり、明るく楽しく、工夫を持って仕事し、その結果生まれた利益はみんなに大きく還元していきたいと思っています。<br>
        英語をうまく話せる人がいない中で外国人採用することがすでにチャレンジングではありますが、シナジーある事業を始めたり、社内ベンチャーのような形でワンプルーフ投資部門を検討したり、色んな働き方を受け入れるような組織づくりや、みんながウキウキできるような事を、誰に縛られる事なく、制限なく、自分たちが思うように、社会に対してワンプルーフがやるべき事を、自由な形でできる会社だからこその利点を活かし、みんなと一緒にワンプルーフを成長させたいので、みなさん今年も宜しくお願いいたします!<br></p>

    </div>
  </section>

</main>