<main class="mainContent">

  <!-- 記事詳細セクション -->
  <section class="memberArticleDetails">
    <div class="m-detailsHeader">
      <div class="m-detailsHeaderImgWrap">
        <div class="m-detailsHeaderImg"><img src="assets/img/hagiwara_002.png" alt=""></div>
        <div class="m-detailsHeaderImgBg mon">Marino　Yamamoto</div>
      </div>
      <h2 class="m-detailsTitle">山本 毬乃<span class="m-detailsTitle__date">ディレクター / 2019年5月 入社</span></h2>
    </div>
    <div class="m-detailsBody">
      <ul class="m-detailsList">
        <li class="m-detailsItem">
          <h2 class="m-detailsItem__ttl"><span>Q.1</span>簡単な経歴を教えてください！</h2>
          <p class="m-detailsItem__txt">テストテストテストテストテストテストテストテストテストテストテテストテストテストテストテストテストテストテストテストテステストテストテストテストテストテストテストテストテストテストテテストテストテストテストテストテストテストテストテストテステストテストテストテストテストテストテストテストテストテストテテストテストテストテストテストテストテスト</p>
        </li>
        <li class="m-detailsItem">
          <h2 class="m-detailsItem__ttl"><span>Q.2</span>出身地と現在のお住まいは？</h2>
          <p class="m-detailsItem__txt">出身：東京です！<br>
            現在：東京です！
          </p>
        </li>
        <li class="m-detailsItem mb72">
          <h2 class="m-detailsItem__ttl"><span>Q.3</span>自己PRをどうぞ！</h2>
          <p class="m-detailsItem__txt">テストテストテストテストテストテストテストテストテストテストテテストテストテストテストテストテストテストテストテストテステストテストテストテストテストテストテストテストテストテストテテストテストテストテストテストテストテストテストテストテス</p>
        </li>
        <li class="m-detailsItem">
          <h2 class="m-detailsItem__ttl">私が担当している店舗です！</h2>
          <p class="m-detailsItem__txt">テストテストテストテストテストテストテストテストテストテストテテストテストテストテストテストテストテストテストテストテステストテストテストテストテストテストテストテストテストテストテテストテストテストテストテストテストテストテストテストテス</p>
        </li>
      </ul>
    </div>
  </section>

</main>