<main class="mainContent">

  <!-- メンバー一覧セクション -->
  <section class="memberList">

    <ul class="tabPanelList flex">
      <li class="tabPanelItem active"><a href="#tab1">東京</a></li>
      <li class="tabPanelItem"><a href="#tab2">福岡</a></li>
      <li class="tabPanelItem"><a href="#tab3">Limited</a></li>
      <li class="tabPanelItem"><a href="#tab4">サポート</a></li>
    </ul>
    <div class="tabContentsWrap">
      <div class="tabContents active" id="tab1">
        <ul class="tabContentsList flex">
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/hirayama.png" alt=""></figure>
              <p class="tabContentItemName"><span>社長</span>平山　和泉</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/nakamura.png" alt=""></figure>
              <p class="tabContentItemName"><span>取締役</span>仲村　和浩</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/narita.png" alt=""></figure>
              <p class="tabContentItemName"><span>執行役員・CTO</span>成田　智史</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/miyazaki.png" alt=""></figure>
              <p class="tabContentItemName"><span>サブマネージャー・ディレクター</span>宮崎　洋史</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/yokokawa.png" alt=""></figure>
              <p class="tabContentItemName"><span>チーフディレクター</span>横川　起代子</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/harada.png" alt=""></figure>
              <p class="tabContentItemName"><span>チーフディレクター</span>原田　建次</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/inoue_t.png" alt=""></figure>
              <p class="tabContentItemName"><span>ディレクター</span>井上　太史</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/yamamoto.png" alt=""></figure>
              <p class="tabContentItemName"><span>ディレクター</span>山本　毬乃</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/kagami.png" alt=""></figure>
              <p class="tabContentItemName"><span>ディレクター</span>加賀見　吉康</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/naka.png" alt=""></figure>
              <p class="tabContentItemName"><span>ディレクター</span>仲　政彰</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/okumoto.png" alt=""></figure>
              <p class="tabContentItemName"><span>チーフデザイナー</span>奥本　泉</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/iijima.png" alt=""></figure>
              <p class="tabContentItemName"><span>デザイナー</span>飯嶋　真菜</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/hagiwara.png" alt=""></figure>
              <p class="tabContentItemName"><span>コーダー</span>萩原　雄太</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/kakizono.png" alt=""></figure>
              <p class="tabContentItemName"><span>エンジニア</span>柿囿　有耶</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/saeem.png" alt=""></figure>
              <p class="tabContentItemName"><span>エンジニア</span>サイーム</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/rumi.png" alt=""></figure>
              <p class="tabContentItemName"><span>エンジニア</span>ルミ</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/inoue_s.png" alt=""></figure>
              <p class="tabContentItemName"><span>サポート・カビ取るジャー店長</span>井上　彰之</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/nisihama.png" alt=""></figure>
              <p class="tabContentItemName"><span>総務・経理・サポート</span>西濱　千里</p>
            </a>
          </li>
          <li class="tabContentsItemBlank">
          </li>
          <li class="tabContentsItemBlank">
          </li>
          <li class="tabContentsItemBlank">
          </li>
        </ul>
      </div>
      <div class="tabContents" id="tab2">
        <ul class="tabContentsList flex">
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/sejima.png" alt=""></figure>
              <p class="tabContentItemName"><span>福岡支社長</span>㔟嶋　作和</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/hieda.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>稗田　早苗</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/umi.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>海　由布子</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/nakajima.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>中嶋　範子</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/hirashima.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>平嶋　紀子</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/nakamoto.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>中元　梨恵</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/shimizu.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>清水　芽久美</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/goudo.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>合戸　舞</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/hukamizu.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>深水　美登里</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/yokotake.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>横竹　沙紀</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/okada.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>岡田　正子</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/nakayama.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>中山　美佳</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/yosie.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>吉江　京子</p>
            </a>
          </li>
          <li class="tabContentsItemBlank">
          </li>
          <li class="tabContentsItemBlank">
          </li>
          <li class="tabContentsItemBlank">
          </li>
        </ul>
      </div>
      <div class="tabContents" id="tab3">
        <ul class="tabContentsList flex">
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/narita.png" alt=""></figure>
              <p class="tabContentItemName"><span>執行役員・CTO</span>成田 智史</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/ashikuzzaman.png" alt=""></figure>
              <p class="tabContentItemName"><span>エンジニア</span>Ashikuzzaman</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/jamiul.png" alt=""></figure>
              <p class="tabContentItemName"><span>エンジニア</span>Jamiul</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/nazmun.png" alt=""></figure>
              <p class="tabContentItemName"><span>エンジニア</span>Nazmun</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/monsur.png" alt=""></figure>
              <p class="tabContentItemName"><span>エンジニア</span>Monsur</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/musta.png" alt=""></figure>
              <p class="tabContentItemName"><span>エンジニア</span>Musta</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/sugimoto.png" alt=""></figure>
              <p class="tabContentItemName"><span>サポーター・通訳</span>杉本 侑哉</p>
            </a>
          </li>
          <li class="tabContentsItemBlank">
          </li>
          <li class="tabContentsItemBlank">
          </li>
          <li class="tabContentsItemBlank">
          </li>
        </ul>
      </div>
      <div class="tabContents" id="tab4">
        <ul class="tabContentsList flex">
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/kashima.png" alt=""></figure>
              <p class="tabContentItemName"><span>ディレクターサポート</span>鹿嶋　美穂子</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/ishihara.png" alt=""></figure>
              <p class="tabContentItemName"><span>ディレクターサポート</span>石原　幼奈</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/koike.png" alt=""></figure>
              <p class="tabContentItemName"><span>ディレクターサポート</span>小池　雄輔</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/akai.png" alt=""></figure>
              <p class="tabContentItemName"><span>オペレーター</span>赤井　晴美</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/kajirawa.png" alt=""></figure>
              <p class="tabContentItemName"><span>ディレクターサポート</span>梶原　歩</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/onawa.png" alt=""></figure>
              <p class="tabContentItemName"><span>デザイナー</span>大縄　朝美</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/siga.png" alt=""></figure>
              <p class="tabContentItemName"><span>デザイナー</span>志賀　恵</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/kimata.png" alt=""></figure>
              <p class="tabContentItemName"><span>デザイナー</span>木全　洋子</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/kobayashi.png" alt=""></figure>
              <p class="tabContentItemName"><span>エンジニア・デザイナー</span>小林　正和</p>
            </a>
          </li>
          <li class="tabContentsItem"><a href="#">
              <figure><img src="assets/img/hayashi.png" alt=""></figure>
              <p class="tabContentItemName"><span>コーダー</span>林　宏典</p>
            </a>
          </li>
          <li class="tabContentsItemBlank">
          </li>
          <li class="tabContentsItemBlank">
          </li>
          <li class="tabContentsItemBlank">
          </li>
        </ul>
      </div>
    </div>

  </section>

</main>