<aside class="sidebar">
  <div class="sidebarItem">
    <h2 class="contentTitle">オススメの特集</h2>
    <a href="" class="sidebarItemLink mb20">
      <img src="assets/img/sidebar001.png" alt="コンサルの流儀">
    </a>
    <a href="" class="sidebarItemLink">
      <img src="assets/img/sidebar002.jpg" alt="東京×福岡">
    </a>
  </div>
  <!-- メンバーリスト -->
  <div class="sidebarBody">
    <h2 class="contentTitle">メンバーカテゴリ</h2>
    <ul class="sidebarBodyArea">
      <li class="sidebarMemberItem">
        <a href="" class="sidebarMemberItemLink">
          <img src="assets/img/sidebarMemberItem__image-tokyo.jpg" alt="ワンプルーフ本社" class="sidebarMemberItem__image">
          <p class="sidebarMemberItem__location">ワンプルーフ本社 / 東京</p>
        </a>
      </li>
      <li class="sidebarMemberItem">
        <a href="" class="sidebarMemberItemLink">
          <img src="assets/img/sidebarMemberItem__image-fukuoka.png" alt="ワンプルーフ福岡" class="sidebarMemberItem__image">
          <p class="sidebarMemberItem__location">ワンプルーフ福岡 / 福岡</p>
        </a>
      </li>
      <li class="sidebarMemberItem">
        <a href="" class="sidebarMemberItemLink">
          <img src="assets/img/sidebarMemberItem__image-dhaka.png" alt="ワンプルーフLimited" class="sidebarMemberItem__image">
          <p class="sidebarMemberItem__location">ワンプルーフLimited / ダッカ</p>
        </a>
      </li>
      <li class="sidebarMemberItem mb50">
        <a href="" class="sidebarMemberItemLink">
          <img src="assets/img/sidebarMemberItem__image-zaitaku.png" alt="ワンプルーフ在宅" class="sidebarMemberItem__image">
          <p class="sidebarMemberItem__location">ワンプルーフ在宅</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="listBtn"><a href="#">メンバー紹介ページ</a></div>
</aside>