<aside class="sidebar">
  <div class="sidebarHead">
    <a href="" class="sidebarHeadLink">
      <img src="assets/img/sidebarHead__image.png" alt="" class="sidebarHead__image">
    </a>
  </div>
  <!-- メンバーリスト -->
  <div class="sidebarBody">
    <h3 class="sidebarBody__title">メンバー</h3>
    <ul class="sidebarBodyArea">
      <li class="sidebarMemberItem">
        <a href="" class="sidebarMemberItemLink">
          <img src="assets/img/sidebarMemberItem__image-tokyo.jpg" alt="ワンプルーフ本社" class="sidebarMemberItem__image">
          <h3 class="sidebarMemberItem__location">ワンプルーフ本社</h3>
          <span class="sidebarMemberItem__address">東京・新宿</span>
        </a>
      </li>
      <li class="sidebarMemberItem">
        <a href="" class="sidebarMemberItemLink">
          <img src="assets/img/sidebarMemberItem__image-fukuoka.png" alt="ワンプルーフ福岡" class="sidebarMemberItem__image">
          <h3 class="sidebarMemberItem__location">ワンプルーフ福岡</h3>
          <span class="sidebarMemberItem__address">福岡・福岡</span>
        </a>
      </li>
      <li class="sidebarMemberItem">
        <a href="" class="sidebarMemberItemLink">
          <img src="assets/img/sidebarMemberItem__image-dhaka.png" alt="ワンプルーフLimited" class="sidebarMemberItem__image">
          <h3 class="sidebarMemberItem__location">ワンプルーフLimited</h3>
          <span class="sidebarMemberItem__address">バングラデシュ・ダッカ</span>
        </a>
      </li>
      <li class="sidebarMemberItem">
        <a href="" class="sidebarMemberItemLink">
          <img src="assets/img/sidebarMemberItem__image-zaitaku.png" alt="ワンプルーフ在宅" class="sidebarMemberItem__image">
          <h3 class="sidebarMemberItem__location">ワンプルーフ在宅</h3>
          <span class="sidebarMemberItem__address">世界・在宅</span>
        </a>
      </li>
    </ul>
  </div>
</aside>