<main class="mainContents">

  <!-- 新着記事セクション -->
  <section class="new">
    <h2 class="contentsTitle">新着記事</h2>
    <div class="newContents">
      <article class="newContentsItem">
        <a href="" class="newContentsItemLink">
          <p class="newContentsItem-image">
            <img src="assets/img/2020_10_10_op-1.jpg" alt="イチオシ記事">
          </p>
          <span class="articleItemLabel">お知らせ</span>
          <p class="newContentsItem__text">皆様、お待たせいたしました！WEB版の社内報はじめます！</p>
          <span class="newContentsItem__date">2021.5.1</span>
        </a>
      </article>
      <article class="newContentsItem">
        <a href="" class="newContentsItemLink">
          <p class="newContentsItem-image">
            <img src="assets/img/2020_10_10_op-1.jpg" alt="イチオシ記事">
          </p>
          <span class="articleItemLabel">特集</span>
          <p class="newContentsItem__text">皆様、お待たせいたしました！WEB版の社内報はじめます！</p>
          <span class="newContentsItem__date">2021.5.1</span>
        </a>
      </article>
    </div>
  </section>

  <!-- 特集記事セクション -->
  <section class="special">
    <h2 class="contentsTitle">特集記事</h2>
    <div class="specialItemWrap mb40">
      <article class="specialItem">
        <a href="" class="specialItemLink">
          <div class="specialItemImg">
            <img src="assets/img/special_001.png" alt="ワンプルーズ">
          </div>
          <div class="specialItemText">
            <span class="specialItemText__date">2021.4.1</span>
            <span class="articleItemLabel">特集</span>
            <span class="articleItemLabel">お知らせ</span>
            <p class="specialItemText__text">成田さんに教わった、笑辞苑すごく面白い！お笑い以外の方でも勉強になるのでおすすめ！Youtube塙さんアカウントから視聴！（３行になった時の仕様確認文）</p>
          </div>
        </a>
      </article>
      <article class="specialItem">
        <a href="" class="specialItemLink">
          <div class="specialItemImg">
            <img src="assets/img/special_002.png" alt="ワンプルーズ">
          </div>
          <div class="specialItemText">
            <span class="specialItemText__date">2019.11.1</span>
            <span class="articleItemLabel">特集</span>
            <p class="specialItemText__text">クリエイティブチームの第一回「Tシャツデザインコンテスト」開催しました</p>
          </div>
        </a>
      </article>
      <article class="specialItem">
        <a href="" class="specialItemLink">
          <div class="specialItemImg">
            <img src="assets/img/special_003.png" alt="ワンプルーズ">
          </div>
          <div class="specialItemText">
            <span class="specialItemText__date">2019.3.26</span>
            <span class="articleItemLabel">特集</span>
            <p class="specialItemText__text">会社前の公園でお花見会</p>
          </div>
        </a>
      </article>
      <article class="specialItem">
        <a href="" class="specialItemLink">
          <div class="specialItemImg">
            <img src="assets/img/special_004.png" alt="ワンプルーズ">
          </div>
          <div class="specialItemText">
            <span class="specialItemText__date">2019.3.16</span>
            <span class="articleItemLabel">特集</span>
            <p class="specialItemText__text">社員旅行の沖縄♪とても豪華でまた行きたい、ブセナテラスリゾートホテル</p>
          </div>
        </a>
      </article>
    </div>
    <div class="articleListBtn"><a href="#">記事一覧を見る</a></div>
  </section>

  <!-- 新規メンバーセクション -->
  <section class="newMember">
    <h2 class="contentsTitle">新着 & 更新メンバー</h2>
    <ul class="newMemberContents mb40">
      <li class="newMemberContentsItem">
        <a href="" class="newMemberContentsItemLink">
          <p class="newMemberContentsItem-image">
            <img src="assets/img/hirayama.png" alt="平山  和泉" class="newMemberContentsItem-image__image">
          </p>
          <span class="newMemberContentsItem__position">社長</span>
          <p class="newMemberContentsItem__name">平山 和泉</p>
        </a>
      </li>
      <li class="newMemberContentsItem">
        <a href="" class="newMemberContentsItemLink">
          <p class="newMemberContentsItem-image">
            <img src="assets/img/nakamura.png" alt="仲村  和浩" class="newMemberContentsItem-image__image">
          </p>
          <span class="newMemberContentsItem__position">取締役</span>
          <p class="newMemberContentsItem__name">仲村 和浩</p>
        </a>
      </li>
      <li class="newMemberContentsItem">
        <a href="" class="newMemberContentsItemLink">
          <p class="newMemberContentsItem-image">
            <img src="assets/img/narita.png" alt="成田  智史">
          </p>
          <span class="newMemberContentsItem__position">執行役員・CTO</span>
          <p class="newMemberContentsItem__name">成田 智史</p>
        </a>
      </li>
      <li class="newMemberContentsItem">
        <a href="" class="newMemberContentsItemLink">
          <p class="newMemberContentsItem-image">
            <img src="assets/img/miyazaki.png" alt="宮崎  洋史">
          </p>
          <span class="newMemberContentsItem__position">サブマネージャー・ディレクター</span>
          <p class="newMemberContentsItem__name">宮崎 洋史</p>
        </a>
      </li>
    </ul>
    <div class="articleListBtn"><a href="#">記事一覧を見る</a></div>
  </section>
</main>