<main class="mainContents">

  <!-- イチオシ記事セクション -->
  <section class="pickup">
    <h2 class="pickup__title">新着記事</h2>
    <div class="pickupContents">
      <article class="pickupContentsItem">
        <a href="" class="pickupContentsItemLink">
          <p class="pickupContentsItem-image">
            <img src="assets/img/pickupContentsItem-image__image.jpg" alt="イチオシ記事" class="pickupContentsItem-image__image">
          </p>
          <p class="pickupContentsItem__text">業務改善と組織力アップでチャレンジ溢れる面白い会社に</p>
          <span class="pickupContentsItem__date">2019.1.4</span>
        </a>
      </article>
      <article class="pickupContentsItem">
        <a href="" class="pickupContentsItemLink">
          <p class="pickupContentsItem-image">
            <img src="assets/img/pickupContentsItem-image__image.jpg" alt="イチオシ記事" class="pickupContentsItem-image__image">
          </p>
          <p class="pickupContentsItem__text">業務改善と組織力アップでチャレンジ溢れる面白い会社に</p>
          <span class="pickupContentsItem__date">2019.1.4</span>
        </a>
      </article>
    </div>
  </section>

  <!-- インタビューセクション -->
  <section class="interview">
    <h2 class="pickup__title">特集記事</h2>
    <article class="interviewItem">
      <a href="" class="interviewItemLink">
        <ul class="interviewItemDate">
          <li class="interviewItemDate__text interviewItemDate__month">10</li>
          <li class="interviewItemDate__text interviewItemDate__day">19</li>
          <li class="interviewItemDate__text interviewItemDate__week">(月)</li>
        </ul>
        <div class="interviewItemText">
          <span class="interviewItemText__top">インタビュー</span>
          <p class="interviewItemText__text">業務改善と組織力アップでチャレンジ溢れる面白い会社に</p>
        </div>
        <div class="interviewItemImg">
          <img src="assets/img/interviewItemImg_image.jpg" alt="インタビュー" class="interviewItemImg_image">
        </div>
      </a>
    </article>
    <article class="interviewItem">
      <a href="" class="interviewItemLink">
        <ul class="interviewItemDate">
          <li class="interviewItemDate__text interviewItemDate__month">10</li>
          <li class="interviewItemDate__text interviewItemDate__day">19</li>
          <li class="interviewItemDate__text interviewItemDate__week">(月)</li>
        </ul>
        <div class="interviewItemText">
          <span class="interviewItemText__top">インタビュー</span>
          <p class="interviewItemText__text">業務改善と組織力アップでチャレンジ溢れる面白い会社に</p>
        </div>
        <div class="interviewItemImg">
          <img src="assets/img/interviewItemImg_image.jpg" alt="インタビュー" class="interviewItemImg_image">
        </div>
      </a>
    </article>
    <article class="interviewItem">
      <a href="" class="interviewItemLink">
        <ul class="interviewItemDate">
          <li class="interviewItemDate__text interviewItemDate__month">10</li>
          <li class="interviewItemDate__text interviewItemDate__day">19</li>
          <li class="interviewItemDate__text interviewItemDate__week">(月)</li>
        </ul>
        <div class="interviewItemText">
          <span class="interviewItemText__top">インタビュー</span>
          <p class="interviewItemText__text">業務改善と組織力アップでチャレンジ溢れる面白い会社に</p>
        </div>
        <div class="interviewItemImg">
          <img src="assets/img/interviewItemImg_image.jpg" alt="" class="interviewItemImg_image">
        </div>
      </a>
    </article>
  </section>

  <!-- 新規メンバーセクション -->
  <section class="newmember">
    <h2 class="newmember__title">新規メンバー</h2>
    <ul class="newmemberContents">
      <li class="newmemberContentsItem">
        <a href="" class="newmemberContentsItemLink">
          <p class="newmemberContentsItem-image">
            <img src="assets/img/newmemberContentsItem-image__image.png" alt="山本毬乃" class="newmemberContentsItem-image__image">
          </p>
          <p class="newmemberContentsItem__name">山本毬乃</p>
          <span class="newmemberContentsItem__name">入社；2019.1.4</span>
        </a>
      </li>
      <li class="newmemberContentsItem">
        <a href="" class="newmemberContentsItemLink">
          <p class="newmemberContentsItem-image">
            <img src="assets/img/newmemberContentsItem-image__image.png" alt="山本毬乃" class="newmemberContentsItem-image__image">
          </p>
          <p class="newmemberContentsItem__name">山本毬乃</p>
          <span class="newmemberContentsItem__name">入社；2019.1.4</span>
        </a>
      </li>
      <li class="newmemberContentsItem">
        <a href="" class="newmemberContentsItemLink">
          <p class="newmemberContentsItem-image">
            <img src="assets/img/newmemberContentsItem-image__image.png" alt="山本毬乃" class="newmemberContentsItem-image__image">
          </p>
          <p class="newmemberContentsItem__name">山本毬乃</p>
          <span class="newmemberContentsItem__name">入社；2019.1.4</span>
        </a>
      </li>
    </ul>
  </section>
</main>