<main class="mainContent">

  <!-- 新着記事セクション -->
  <section class="panels">
    <h2 class="contentTitle">新着記事</h2>
    <div class="panelsContent">
      <article class="panelsContentItem new">
        <a href="" class="panelsContentItemLink">
          <p class="panelsContentItem-image">
            <img src="assets/img/2020_10_10_op-1.jpg" alt="イチオシ記事">
          </p>
          <span class="articleItemLabel">お知らせ</span>
          <p class="panelsContentItem__text">皆様、お待たせいたしました！WEB版の社内報はじめます！</p>
          <span class="panelsContentItem__date">2021.5.1</span>
        </a>
      </article>
      <article class="panelsContentItem new">
        <a href="" class="panelsContentItemLink">
          <p class="panelsContentItem-image">
            <img src="assets/img/2020_10_10_op-1.jpg" alt="イチオシ記事">
          </p>
          <span class="articleItemLabel">特集</span>
          <p class="panelsContentItem__text">皆様、お待たせいたしました！WEB版の社内報はじめます！</p>
          <span class="panelsContentItem__date">2021.5.1</span>
        </a>
      </article>
    </div>
  </section>

  <!-- 特集記事セクション -->
  <section class="lists">
    <h2 class="contentTitle">特集記事</h2>
    <div class="listsItemWrap mb40">
      <article class="listsItem">
        <a href="" class="listsItemLink">
          <div class="listsItemImg">
            <img src="assets/img/lists_001.png" alt="ワンプルーズ">
          </div>
          <div class="listsItemText">
            <span class="listsItemText__date">2021.4.1</span>
            <span class="articleItemLabel">特集</span>
            <span class="articleItemLabel">お知らせ</span>
            <p class="listsItemText__text">成田さんに教わった、笑辞苑すごく面白い！お笑い以外の方でも勉強になるのでおすすめ！Youtube塙さんアカウントから視聴！（３行になった時の仕様確認文）</p>
          </div>
        </a>
      </article>
      <article class="listsItem">
        <a href="" class="listsItemLink">
          <div class="listsItemImg">
            <img src="assets/img/lists_002.png" alt="ワンプルーズ">
          </div>
          <div class="listsItemText">
            <span class="listsItemText__date">2019.11.1</span>
            <span class="articleItemLabel">特集</span>
            <p class="listsItemText__text">クリエイティブチームの第一回「Tシャツデザインコンテスト」開催しました</p>
          </div>
        </a>
      </article>
      <article class="listsItem">
        <a href="" class="listsItemLink">
          <div class="listsItemImg">
            <img src="assets/img/lists_003.png" alt="ワンプルーズ">
          </div>
          <div class="listsItemText">
            <span class="listsItemText__date">2019.3.26</span>
            <span class="articleItemLabel">特集</span>
            <p class="listsItemText__text">会社前の公園でお花見会</p>
          </div>
        </a>
      </article>
      <article class="listsItem">
        <a href="" class="listsItemLink">
          <div class="listsItemImg">
            <img src="assets/img/lists_004.png" alt="ワンプルーズ">
          </div>
          <div class="listsItemText">
            <span class="listsItemText__date">2019.3.16</span>
            <span class="articleItemLabel">特集</span>
            <p class="listsItemText__text">社員旅行の沖縄♪とても豪華でまた行きたい、ブセナテラスリゾートホテル</p>
          </div>
        </a>
      </article>
    </div>
    <div class="listBtn"><a href="#">記事一覧を見る</a></div>
  </section>

  <!-- 新規メンバーセクション -->
  <section class="newMember">
    <h2 class="contentTitle">新着 & 更新メンバー</h2>
    <ul class="newMemberContent mb40">
      <li class="newMemberContentItem">
        <a href="" class="newMemberContentItemLink">
          <p class="newMemberContentItem-image">
            <img src="assets/img/hirayama.png" alt="平山  和泉" class="newMemberContentItem-image__image">
          </p>
          <span class="newMemberContentItem__position">社長</span>
          <p class="newMemberContentItem__name">平山 和泉</p>
        </a>
      </li>
      <li class="newMemberContentItem">
        <a href="" class="newMemberContentItemLink">
          <p class="newMemberContentItem-image">
            <img src="assets/img/nakamura.png" alt="仲村  和浩" class="newMemberContentItem-image__image">
          </p>
          <span class="newMemberContentItem__position">取締役</span>
          <p class="newMemberContentItem__name">仲村 和浩</p>
        </a>
      </li>
      <li class="newMemberContentItem">
        <a href="" class="newMemberContentItemLink">
          <p class="newMemberContentItem-image">
            <img src="assets/img/narita.png" alt="成田  智史">
          </p>
          <span class="newMemberContentItem__position">執行役員・CTO</span>
          <p class="newMemberContentItem__name">成田 智史</p>
        </a>
      </li>
      <li class="newMemberContentItem">
        <a href="" class="newMemberContentItemLink">
          <p class="newMemberContentItem-image">
            <img src="assets/img/miyazaki.png" alt="宮崎  洋史">
          </p>
          <span class="newMemberContentItem__position">サブマネージャー・ディレクター</span>
          <p class="newMemberContentItem__name">宮崎 洋史</p>
        </a>
      </li>
    </ul>
    <div class="listBtn"><a href="#">記事一覧を見る</a></div>
  </section>
</main>